.container{
  text-align: center;
  p{
    font-size: 16px;
    color:var(--footer-text-color);
  }
}
@media (width>=800px){
  .container{
    p{
      font-size: 20px;
    }
  }
  
}
@media (width>=1400px){
  .container{
    p{
      font-size: 25px;
    }
  }
  
}